<app-header [pageTitle]="'Merchant Dashboard'"></app-header>
<div class="container">
    <div class="row">
        <div class="row col-sm-12">
            <div class="col-md-6">
                <h4>Merchant Name: <i>{{merchantDetails.merchantName}}</i></h4>
            </div>
            <div class="col-md-6">
                <h4>Currency: <i>{{merchantDetails.currency}}</i></h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-md-6">
                <h4>Merchant Domain: <i>{{merchantDetails.merchantDomain}}</i></h4>
            </div>
            <div class="col-md-6">
                <h4>Country: <i>{{merchantDetails.country}}</i></h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-md-6">
                <h4>Account Number: <i>{{merchantDetails.merchantAccountNumber}}</i></h4>
            </div>
            <div class="col-md-6">
                <h4>Merchant Boarding Date: <i>{{merchantDetails.insertDate}}</i></h4>
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-md-6">
                <h4>Total Transaction Bill Summary: <span>0.00</span></h4>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" (click)=generateInvoice()>Generate Invoice</button>
                <button class="btn btn-primary" (click)=updateMerchantContract()>Merchant Contract</button>
            </div>
        </div>
    </div>
    <div class="chart-wrapper">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<app-footer></app-footer>