h1 {
    text-align: center;
}

.content-wrapper {
    overflow: hidden;
    padding: 3% 10%;
}

.chart-wrapper {
    padding: 3% 10%;
}

canvas {
    max-height: 310px;
    max-width: 750px;
}

.btn {
    background-color: #08b070;
    color: white;
    border-radius: 3px;
    border-width: 0;
    padding: 10px;
    font-size: 15px;
    margin: 0 10px;
}