<app-header></app-header>
<div class="container">
  <!-- <h1>Merchant Summary Page</h1> -->
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Merchant Name</th>
        <th>Country</th>
        <th>Account Number</th>
        <th>Total Transaction Bill</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td><input type="radio" name="merchant-radio" /></td>
        <td><a routerLink="/merchantDashboard">{{d.merchantDescription}}</a></td>
        <td>{{d.country}}</td>
        <td>{{d.merchantAaccountNumber}}</td>
        <td>{{d.merchantId}}</td>
      </tr>
    </tbody>
  </table>
  <div class="option-radio-wrapper">
    <div>
      <input type="radio" value="payout" name="transaction_to_do" /> Payment
    </div>
    <div>
      <input type="radio" value="payout" name="transaction_to_do" /> Payout
    </div>
    <div>
      <input type="radio" value="payout" name="transaction_to_do" /> Refund
    </div>
    <div>
      <input type="radio" value="payout" name="transaction_to_do" /> Cancel
    </div>
  </div>
  <div>
    <button type="submit" class="btn" (click)="transactionsToDo()">Submit</button>
  </div>
</div>
<app-footer></app-footer>