table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th,
td {
    padding: 15px;
}

tr td:first-child {
    width: 10px;
}

.btn {
    background-color: #08b070;
    color: white;
    border-radius: 3px;
    border-width: 0;
    padding: 10px;
    font-size: 15px;
    margin: 0 10px;
}