<h1>Merchant Summary Page</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Merchant Name</th>
      <th>Country</th>
      <th>Account Number</th>
      <th>Total Transaction Bill</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td><input type="checkbox" /></td>
      <td>{{d.name}}</td>
      <td>{{d.country}}</td>
      <td>{{d.account_no}}</td>
      <td>{{d.total_transaction}}</td>
    </tr>
  </tbody>
</table>
<input type="radio" value="payout" name="transaction_to_do" /> Payment
<input type="radio" value="payout" name="transaction_to_do" /> Payout
<input type="radio" value="payout" name="transaction_to_do" /> Refund
<input type="radio" value="payout" name="transaction_to_do" /> Cancel
<input type="submit" value="Submit" (click)="redirectToMerchantDashboard()" />